[Unit]
Description=CICS Public Address System Backend
After=network.target

[Service]
User=zacpc
WorkingDirectory=/home/zacpc/CICS_PUBLIC_ADDRESS_SYSTEM
ExecStart=/usr/bin/python3 -m uvicorn backend.app:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
